// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.

$primary: #3891A6; // Thats a sample how you could change a BootStrap variable.
$secondary: #4C5B5C;
$altcolor: #E3655B;
$altwhite: #f4f6f6;
$altdark: #4C5B5C;
$header-one: #A3D5E0;

$theme-colors: () !default;
$theme-colors: map-merge(
  (
    "altcolor": $altcolor,
    "altwhite": $altwhite,
    "altdark" : $altdark
  ),
  $theme-colors
);

$spacers: () !default;
$spacers: map-merge(
  (
    100: 100px
  ),
  $spacers
);

$borderwidth: () !default;
$borderwidth: map-merge(
  (
    0: 0px,
    1: 1px,
    2: 2px,
    3: 3px,
    4: 4px,
    5: 5px
  ),
  $borderwidth
);
